html {
    background: rgb(255, 255, 255);
}

body {
    margin: 200px;
    padding:200px;
}

.main-logo {
    border-radius: 8px;
    width: fit-content;
    height: auto;
}

.main-para {
    display:flex;
    margin:10px;
    padding:20px;
    justify-content: space-evenly;
    gap: 30px;
    align-items: stretch;
    background: grey; 
  }
  